<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign up</title>
</head>
<body>
    <header class="flex justify-between align-center px-2 py-2 bg-gray-300 ">
        <a class="" href="/user/welcome">
            <h1 class="font-bold"><span class="uppercase text-2xl font-bold">User</span>r</h1>
        </a>
        <nav>
            <ul class="flex justify-between align-center">
                <li class="mx-2 bg-sky-700 px-2 py-1"><a class="font-semibold text-white" href="/user/signin">Sign In</a></li>
                <li class="mx-2 bg-sky-700 px-2 py-1"><a class="font-semibold text-white" href="/user/signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <h2 class="font-semibold text-center my-3 text-3xl">User Registration</h2>
</body>
</html>