<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registartion</title>
    <style>
        a{
            margin: 0  2rem;
            text-decoration: none;
            background-color: skyblue;
            color: black;
            padding: 1rem 2rem;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 600;
        }

        .center{
            text-align: center;
        }

        .btns{
            margin-top: 2rem;
        }
    </style>
</head>
<div class="center">
    <h1>Register user</h1>
    <div class="btns">
        <a href="/user/login">Login</a>
        <a href="/user/register">Sign up</a>
    </div>
</div>
</body>
</html>